body{
    font-family: 'Lora', serif;
    font-family: 'Oxygen', sans-serif;
    color: #13070C;
}

.header{
    position: absolute;
    color: #FFFFFF;
    padding-top: 20x;
    font-family: 'Lora';
    font-weight: 600;
    font-size: 26px;
    padding-left: 250px;
}

.header-image{
}

.navig{
    position: relative;
    padding-top: 27px;
    padding-right: 270px;
    text-align: right;
    font-size: 12px; 
    text-transform: uppercase;
}

.navig__content{
    font-family: 'Oxygen', sans-serif;
    color: #000000;
    padding: 20px;
    text-decoration: none;
}

.caption{
    position: relative;
    text-align: center;
    margin: 60px;
}

.caption__header{
    font-family: 'Lora';
    font-weight: 800;
    font-size: 50px;
}

.caption__slogan{
    font-family: 'Oxygen';
    font-weight: 400;
    padding: 20px;
}

.caption__button{
    height: 44px;
    box-sizing: border-box;
    width: 167px;
    height: 44px;
    font-family: 'Oxygen';
    color: #FFFFFF;
    border-radius: 3px;
    background-color:  #DD783F; ;
}