body{
    font-family: 'Lora', serif;
    font-family: 'Oxygen', sans-serif;
    background-color: #D8D4F2;
    color: #13070C;
    text-align: center;
}

a{
    color: #13070C;
}

a:hover{
    color: #bf8313;

}

.header{
    position: absolute;
    color: #FFFFFF;
    padding-top: 20x;
    font-family: 'Lora';
    font-weight: 600;
    font-size: 26px;
    padding-left: 250px;
}

.navig{
    position: relative;
    padding-top: 27px;
    padding-right: 270px;
    text-align: right;
    font-size: 12px; 
    text-transform: uppercase;
}

.navig__content{
    font-family: 'Oxygen', sans-serif;
    color: #FFFFFF;
    padding: 20px;
    text-decoration: none;
}

.caption{
    position: relative;
    text-align: center;
    margin: 60px;
}

.caption__header{
    font-family: 'Lora';
    font-weight: 800;
    font-size: 50px;
}

.caption__slogan{
    font-family: 'Oxygen';
    font-weight: 400;
    padding: 20px;
}

.caption__button{
    height: 44px;
    box-sizing: border-box;
    width: 167px;
    height: 44px;
    font-family: 'Oxygen';
    color: #FFFFFF;
    border-radius: 3px;
    background-color:  #DD783F; ;
}

.extraNav__content{
    padding-left: 52px;
    padding-right: 52px;
    font-family: 'Lora';
    text-decoration: none;
}
h2{
    font-size: 27px;
    font-family: 'Oxygen';
    font-weight: 400;
}

.featured_heading{
    border-bottom: #DD783F;
    border-width: 188px;
}

.post-featured{
    display: inline-flex;
    flex-direction: column;
    background-size: cover;
    width: 460px;
    height: 280px;
    text-align: left;
    color: #FFFFFF;
}

.post-featured__post1{
    background-image: url("images/roadAhead.png");

}

.post-featured__post2{
    background-image: url("images/fromtopdown.png");
}

.actualText{
    text-align: left;
    width: 1000px;
}

.pubInfo{
    text-align: left;
}

.post-recent{
    display: inline-flex;
    flex-direction: column;
    padding-left: 53px;
    padding-right: 50px;
    background-size: cover;
    width: 460px;
    height: 280px;
    text-align: left;
    font-size: 16px;
}

h2{

}

.post-recent__image{
    width: 296px;
    height: 150px;
}