body{
    margin: 0;
    background: #F7F7F7;
}

.header{
    display: flex;
    position: relative;
    align-items: center;
    margin-top: 20px;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    background-size: 100%;
}

.blog-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 491px;
    margin-top: 20px;
}

.blog-header__logo{  
    font-family: 'Lora';
    font-weight: 400;
    font-size: 26px;
    color: #2E2E2E;
    display: flex;
    justify-content: flex-start;
}

.blog-header-menu-global{
    font-family: 'Oxygen';
    font-weight: 400;
    font-size: 12px;
    display: flex;
    gap: 40px;
    justify-content: flex-end;
}

.header-menu{
    text-decoration: none;  
    color: #2E2E2E;
}

.blog-first-view{
    height: 360px;
    background-repeat: no-repeat;
    color: #FFFFFF;
    background-position: center;
    background-size: 100%;
    margin: 0px;
    margin-bottom: 113px;
}

.blog-slogan{
    text-align: center;
    font-family: 'Lora';
    font-weight: 400;
    font-size: 50px;
    color: #2E2E2E;
    letter-spacing: 2px;
    margin: 0px; 
    margin-top: 156px; 

}

.blog-substring{
    font-family: 'Oxygen';
    font-weight: 400;
    font-size: 17px;
    color: #2E2E2E;
    opacity: 63%;
    text-align: center;
    margin: 0px;
    margin-top: 20px;
}

.blog-img{
    width: 100%;
    height: 534px;
}

.text{
    position: relative;
    font-family: 'Oxygen';
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 250px 135px;
    margin-top: 140px;
}

.foot__logo{
    font-family: 'Lora';
    font-weight: 400;
    font-size: 26px;
    color: #FFFFFF;
}

.foot__menu{
    font-family: 'Oxygen';
    font-weight: 400;
    font-size: 11px;
    text-decoration: none;
    color: #FFFFFF;
    opacity: 60%;
}

.basement{
    position: relative;
    background: url(images/basement-bg.png); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.basement-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: 100%;
    height:378px;
}

.basement-title{
    font-family: 'Oxygen';
    color: #EFEFEF;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 2px;
    text-align: center; 
    margin: 0px;
    padding-top: 80px;
    padding-bottom: 40px;
    text-decoration-line: underline;
    text-decoration-color:  #DEDEDE;
    text-underline-offset: 16px;
}

.basement-form{
    display: flex;
    padding: 0px;
    border: 0px;
    height: 50px;
    border: none;
    padding-bottom: 90px;
    display: flex;
    justify-content: center;

}

.basement-form__field{
    width: 375px;
    border-radius: 3px 0px 0px 3px;
    border: none;
    padding-left: 35px;

}

.basement-form__button{
    font-family: 'Oxygen';
    color: #EFEFEF;
    font-weight: 400;
    width: 125px;
    background: rgba(255, 255, 255, 0.28);
    border: none;
    border-radius: 0px 3px 3px 0px;
}

.footer{
    background-size: 100%;
    background: rgba(35, 47, 56, 0.6);
    opacity: 60%;
    display: flex;
    margin: 0;
    font-family: 'Oxygen';
    height: 89px;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.footer__menu{
    font-family: 'Oxygen';
    font-size: 12px;
    color: #FFFFFF;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px; 
    
}

.footer__menu__link{
    color: #FFFFFF99;
    text-decoration: none;
}


.footer__logo
{
    color: #FFFFFF;
    font-family: 'Lora';
    font-style: normal;
    font-size: 26px;
}