<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Escape.</title>
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lora&family=Oxygen&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header class="header">
            <div class="header-top">
                <span class="header__logo">
                    Escape.
                </span>
                <nav class="header-menu">
                    <a class="header-menu__link" href="#">HOME</a>
                    <a class="header-menu__link" href="#">CATEGORIES</a>
                    <a class="header-menu__link" href="#">ABOUT</a>
                    <a class="header-menu__link" href="#">CONTACT</a>
                </nav>
            </div>
            <div class="first-view">
                <h1 class="slogan">Let's do it together.</h1>
                <p class="substring">We travel the world in search of stories. Come along for the ride.</p>
                <div class="cta">
                    <button class="cta__text">View Latest Posts</button>
                </div>      
            </div>

        </header>
        <main class="main">
            <div class="low">
                <nav class="low-menu">
                    <a class="low-menu__link" href="#">Nature</a>
                    <a class="low-menu__link" href="#">Photography</a>
                    <a class="low-menu__link" href="#">Relaxation</a>
                    <a class="low-menu__link" href="#">Vacation</a>
                    <a class="low-menu__link" href="#">Travel</a>
                    <a class="low-menu__link" href="#">Adventure</a>
                </nav>
            </div>
            <section class="featured-posts">
                
                <h2 class="name-of-section">Featured Posts</h2>
                {{range .Posts}}
                    {{if .Featured}}
                        <a class="posts {{.ImgModifier}}" href="/post/{{ .PostID }}">
                            <article class="featured">                     
                                <h3 class="featured__header">{{ .Title }}</h3>
                                <p class="featured__substring">{{ .Subtitle }}</p>
                                <div class="featured__extra-info">
                                    <img class="featured__img-author" src="{{ .AuthorImg }}" alt="Mat Vogels">
                                    <span class="featured__author">{{ .Author }}</span>
                                    <span class="featured__date">{{ .PublishDate }}</span>
                                </div>                      
                            </article>
                        </a>
                    {{ end }}
                 {{ end }}   
            </section>
            <section class="most-recent">
                <h2 class="name-of-section">Most Recent</h2>
                <div class="recents">
                    {{range .Posts}}
                        {{if not .Featured}}                  
                            <a class="recent" href="/post/{{ .PostID }}">
                                <img src="{{ .Image }}" alt="Still Standing Tall">
                                <div class="recent__caption"> 
                                    <h3 class="recent__header">{{ .Title }}</h3>
                                    <p class="recent__substring">{{ .Subtitle }}</p>
                                </div>
                                
                                <div class="recent__underground">
                                    <img class="recent__img-author" src="{{ .AuthorImg }}" alt="William Wong">
                                    <span class="recent__author">{{ .Author }}</span>
                                    <span class="recent__date">{{ .PublishDate }}</span>
                                </div>
                            </a>
                        {{ end }}  
                    {{ end }}                   
                </div>
            </section>
        </main>
        <footer class="foot">
            <span class="foot__logo">
                Escape.
            </span>
            <a class="foot__menu" href="#">HOME</a>
            <a class="foot__menu" href="#">CATEGORIES</a>
            <a class="foot__menu" href="#">ABOUT</a>
            <a class="foot__menu" href="#">CONTACT</a>
        </footer>

        <div class="basement">
            <div class="basement-contact">
                <h3 class="basement-title">Stay in Touch</h3>
                <form class="basement-form"> 
                    <input class="basement-form__field" placeholder="Enter your email address">
                    <input type="submit" value="Submit" class="basement-form__button">
                </form>
            </div>
            <footer class="footer">
                <span class="footer__logo">Escape.</span>
                <nav class="footer__menu">
                    <a title="Home Page" href="#" class="footer__menu__link">HOME</a>
                    <a title="Categories of posts" href="#" class="footer__menu__link">CATEGORIES</a>
                    <a title="About us" href="#" class="footer__menu__link">ABOUT</a>
                    <a title="Our contact" href="#" class="footer__menu__link">CONTACT</a>
                </nav>
            </footer>
        </div>
    </body>
</html>